@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear all ease;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    height: 10vh;
    background: #ff6b6b;
}
.logoOP{
    width: 10%;
}
.nav .links{
    padding: 1rem;
}
.links a{
    color: black;
    padding: 1rem;
    transition: .3s all linear;
}
.links a:hover{
    color: #fff;
    transition: .3s all linear;
}
.search input{
    padding: .5rem;
    border: .1rem solid #fff;
    outline: none;
    border-radius: .3rem;
}
.search input:focus{
    border: .1rem solid #222f3e;
}
span.span{
    color: #fff;
    animation: color;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.logo h1{
    color: #222f3e;
}
.home-container{
    padding: 4rem;
    display: flex;
    align-items: center;
}
.home-image{
    flex: 1 1 42rem;
}
.home-image img{
    width: 97%;
    border-radius: 2%;
    animation: random;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.home-content{
    flex: 1 1 42rem;
}
.home-content h1{
    font-size: 4rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}
.home-content p{
    font-size: 1.3rem;
    padding-left: .5rem;
    line-height: 2rem;
    color: #8395a7;
}
.flex{
    display: flex;
    align-items: center;
}
button.read-btn{
    padding: .3rem .8rem .3rem .8rem;
    outline: none;
    border: .1rem solid #303952;
    color: #303952;
    background: transparent;
    font-size: 1.4rem;
    margin-left: .5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    transition: .3s all linear;
    cursor: pointer;
}
button.order-btn{
    padding: .3rem;
    outline: none;
    border: .1rem solid #ff6b6b;
    color: #ff6b6b;
    background: transparent;
    font-size: 1.4rem;
    margin-left: .5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    transition: .3s all linear;
}
button.order-btn:hover{
    background: #ff6b6b;
    color: #fff;
    cursor: pointer;
    transition: .3s all linear;
}



@keyframes color {
    0%{
        color: #222f3e;
    }
    50%{
        color: aquamarine;
    }
    100%{
        color: #fff;
    }
}
@keyframes random {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
